<!DOCTYPE html>
<html>
<head>
  <title>Liste des contacts</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1>Liste des contacts</h1>
<ul>
  <% contacts.forEach((contact) => { %>
  <a href="contacts/<%= contact._id %>">
    <li><%= contact.prenom %> <%= contact.nom %></li>
  </a>
  <% }); %>
</ul>
</body>
</html>
