<!DOCTYPE html>
<html>
  <head>
    <title><%= contact.prenom %> <%= contact.nom %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= contact.prenom %> <%= contact.nom %></h1>
  </body>
</html>
